*.certificate.ps1
*.key.azcli
*.parameters.json
*.personal.*
#*.json
data/**
development/**
.vscode/**
.vscode/
.vscode
/vWAN
/vwan-gh-example

#ignore vwan
vWAN
/vWAN
/vWAN/**
vWAN/


#ignore vwan-example
vwan-gh-example
/vwan-gh-example
/vwan-gh-example/**
vwan-gh-example/
